<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tables </title>
    <link href="/dist/css/styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
        crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed" style="font-family: 'Baloo 2', cursive;">
    <div>
        <%- include('./partitions/header'); %>
    </div>
    <div id="layoutSidenav">
        <%- include('./partitions/sidebar'); %>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Category</h1>
                        <!-- <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol> -->
                        <div id="accordion" class="mb-4">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                            ADD CATEGORY </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        <form method="post" action="/cats" enctype="multipart/form-data">
                                            <div class="form-row">
                                                <div class="form-group">
                                                    <label for="name">Name</label>
                                                    <input type="text" name="name" id="name" class="form-control"
                                                        placeholder="Category Name" value="">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <input type="file" name="image" id="image" style="opacity: 1;">
                                            </div>

                                            <input type="text" name="updateId" id="updateId" value="" hidden>

                                            <button type="submit" class="btn btn-primary">Sign in</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                CATEGORY
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <i class="fa fa-trash" type="buttton" id="deleteAcc"
                                                        style="color: red;"></i>
                                                    <span><input id="select_all" type="checkbox"></span>
                                                </th>
                                                <th>Image</th>
                                                <th>Name</th>
                                                <th>Follower</th>
                                                <th>Action</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(cats !==false) {%>
                                                <% cats.forEach(function(category) { %>
                                                    <tr>
                                                        <td>
                                                            <input type="checkbox" value="<%= category._id %>">
                                                        </td>
                                                        <td>
                                                            <img src="https://blog-shot.s3.ap-south-1.amazonaws.com/category/<%= category.image %>"
                                                                alt="no image" style="width:100px; height:100px;">
                                                        </td>
                                                        <td>
                                                     
                                                            <%= category.name %>
                                                        </td>
                                                        <td>
                                                            <%= category.follower %>
                                                        </td>
                                                        <td>
                                                            <i class="fa fa-trash" type="buttton"
                                                                style="color: red;"></i>
                                                        </td>

                                                    </tr>
                                                    <% }) %>
                                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('./partitions/footer'); %>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/dist/js/scripts.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="/dist/assets/demo/datatables-demo.js"></script>

    <script>
        $(document).ready(function () {
            $("#select_all").change(function () {  //"select all" change 
                console.log("all chekced");
                var status = this.checked; // "select all" checked status
                $('input:checkbox').each(function () { //iterate all listed checkbox items
                    console.log('everyone checked');
                    this.checked = status; //change ".checkbox" checked status
                });
            });

            $('input:checkbox').change(function () {
                console.log('selected checked');
                if (this.checked == false) {
                    $("#select_all")[0].checked = false;
                }


                if ($('input:checkbox:checked').length == $('input:checkbox').length) {
                    $("#select_all")[0].checked = true;
                }
            });
            $('#deleteAcc').on('click', function () {
                var item = [];
                if ($('input:checkbox:checked').length > 0) {
                    $('input:checkbox:checked').each(function () {

                        item.push($(this).attr('value'));
                        item = item.filter(function (element) {
                            return element !== undefined
                        })

                    });
                    var cnfrm = confirm("do you really want to delete data")
                    if (cnfrm) {
                        delTable(item);
                    }



                }
                console.log(item);
            });
            function delTable(item) {
                $.ajax({
                    type: 'POST',
                    url: "/blog/delSCat",
                    data: { item: item },
                    success: function (data) {
                        location.reload();
                    }
                });
            }
        })
    </script>
</body>

</html>